.container{
    display: flex;
    gap: 10px;
}

.toCart{
    background-color: #cb9367;
    color: white;
    border: none;
    width: 2rem;
    display: block;
}
.toCart:hover{
    background-color: #db9a69;
}
.toCart:active{
    background-color: #e49051;
}