<h3>Dania</h3>
<main class="dishes">
    <div class="dish" *ngFor="let dish of dishes">
        <div class="card">
            <span>{{ dish.name }}</span>
            <button type="submit" class="edit" (click)="editDish(dish)">EDIT</button>
            <app-remove [currentDish]="dish"
                (itemRemoved)=(onItemRemoved($event)) >
            </app-remove>
        </div>
    </div>
</main>
<div class="add-dish">
    <app-add></app-add>
</div>
<app-edit-dish *ngIf="!isHidden" [currentDish]="currentDish"></app-edit-dish>