main{
    background-color: white;
    padding: 1rem;
    width: 45%;
    z-index: 10;
}

.dishes{
    height: 300px;
    width: 100%;
    overflow: auto;
}

.dish{
    display:flex;
    align-items: stretch;
}

.card{
    align-self: stretch;
    background-color: white;
    box-shadow: 1px 1px 1px grey;
    padding: 10px;
    width: 100%;
}
.card > span{
    width: fit-content;
}
.add-dish{
    width: 100%;
    position: absolute;
    top: 4rem;
}
button.edit {
    background-color: #cb9367;
    position: absolute; 
    top: 0.5rem;
    right: 2.5rem;
    color: white;
    padding: 0 8px;    
    border: none;
    z-index:1;
}
button.edit:hover{
    background-color: #db9a69;
}
button.edit:active{
    background-color: #e49051;
}
.hidden{
    display: none;
}
.show{ 
    display: flex;
} 
.addDishButton {
    position: absolute;
    top: 2rem;
    right: 1rem;
    color: white;
    text-align: center;
    padding: 10px;
    width: 6rem;
    font-size: 12px;
    height: 40px;
    background-color: #cb9367;
}

@media (max-width: 768px){
    main{
        width: 100%;
    }
    .addDishButton{
        top: 0.5rem;
        left: 7rem;
        height: 40px;
        font-size: 11px;
    }
}