<main class="container">
    <div class="form-container">
        <h5>Edit</h5>
        <form [formGroup]="editDishForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="name" placeholder="Nazwa pozycji">
                <div *ngIf="editDishForm.controls['name'].hasError('minlength')" class="alert alert-danger">
                    Nazwa powinna zawierać co najmniej 2 znaki
                </div>
                <div *ngIf="editDishForm.controls['name'].hasError('maxlength')" class="alert alert-danger">
                    Nazwa nie może przekraczać 15 znaków
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="cuisine" placeholder="Typ kuchni">
                <div *ngIf="editDishForm.controls['cuisine'].hasError('minlength')" class="alert alert-danger">
                    Typ kuchni powinien zawierać co najmniej 2 znaki
                </div>
                <div *ngIf="editDishForm.controls['cuisine'].hasError('maxlength')" class="alert alert-danger">
                    Typ kuchni nie może przekraczać 20 znaków
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="type" placeholder="Typ dania">
                <div *ngIf="editDishForm.controls['type'].hasError('minlength')" class="alert alert-danger">
                    Typ dania powinien zawierać co najmniej 2 znaki
                </div>
                <div *ngIf="editDishForm.controls['type'].hasError('maxlength')" class="alert alert-danger">
                    Typ dania nie może przekraczać 15 znaków
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="time" placeholder="Kategoria">
                <div *ngIf="editDishForm.controls['time'].hasError('minlength')" class="alert alert-danger">
                    Kategoria powinien zawierać co najmniej 2 znaki
                </div>
                <div *ngIf="editDishForm.controls['time'].hasError('maxlength')" class="alert alert-danger">
                    Kategoria nie może przekraczać 15 znaków
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="ingredients" placeholder="Składniki">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" formControlName="amount" placeholder="Ilość w magazynie">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" formControlName="price" placeholder="Cena">
            </div>
            <div class="form-group">
                <input type="textarea" class="form-control" formControlName="description" placeholder="Opis">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="pictures" placeholder="Zdjęcia">
                <div *ngIf="editDishForm.controls['pictures'].hasError('pattern')" class="alert alert-danger">
                    Wprowadź odpowiedni format pliku
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="link" placeholder="Linki do zdjęć">
            </div>
            <button type="submit" [disabled]="!editDishForm.valid" class="edit">Edytuj</button>
        </form>
    </div>
</main>