button {
    background-color: #cb9367;
    position: absolute; 
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    padding: 0 8px;    
    border: none;
    z-index:1;
}
button:hover{
    background-color: #db9a69;
}
button:active{
    background-color: #e49051;
}