<main class="container">
<div class="cart">
    <h2>Twój koszyk</h2>
    <section class="items">
        <div class="cart-item" *ngFor="let item of items">
            <span>{{ item.ordered }} x {{ item.name }} </span>
            <span>{{ item.price * currency.converter }} {{ currency.symbol }}</span>
        </div>  
    </section>
    <footer>
        <div class="total">Total: {{ sum(items) }}{{currency.symbol}}</div>
        <button class="purchase" type="submit">Purchase</button>
    </footer>
</div>
</main>