.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h2 {
    text-align: center;
    padding: 10px;
    border-bottom: grey 1px solid;
}
.cart {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: white;
    width: 60%;
    min-height: 50%;
}
.items{
    min-height: 65vh;
    border-bottom: grey 1px solid;
    font-size: 2rem;
    padding: 0 2rem 0 2rem;
    overflow: auto;
}
footer{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem 0 2rem;
}
.purchase {
    align-self: flex-end;
    margin: 10px;
    font-size: 1.5rem;
}
.total{
    font-size: 2rem;
    font-weight:bold;
    align-self: flex-start;
    margin: 10px;
    margin-right: auto;
    width: fit-content;
}
