.container{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    font-family: "Roboto", sans-serif;
}
h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    font-weight: 400;
}
.cart {
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: white;
    width: 60%;
    min-height: 80vh;
    box-shadow: 1px 0 2px lightgrey;
    
}
.items{
    min-height: 60vh;
    max-height: 65vh;
    border-top: grey 1px solid;
    border-bottom: grey 1px solid;
    padding: 0 2rem 0 2rem;
    overflow: auto;
    box-shadow: inset 1px 0 5px lightgrey;
}
.cart-item{
    padding: 5px;
    font-size: 2.5rem;
    font-weight: 300;
}
footer{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem 0 2rem;
}
.purchase {
    align-self: flex-end;
    margin: 10px;
    font-size: 1.5rem;
    border-style: none;
}
.purchase:hover{
    background-color: rgb(219, 219, 219);
}
.purchase:active{
    background-color: rgb(196, 196, 196);
}
.total{
    font-size: 2rem;
    font-weight:bold;
    align-self: flex-start;
    margin: 10px;
    margin-right: auto;
    width: fit-content;
    font-weight: 400;
}
@media (max-width: 1200px){
    .cart{
        width: 70%;
    }
}

@media (max-width: 1000px){
    .cart{
        width: 90%;
    }
    .cart-item{
        font-size: 1.8rem;
    }
}
@media (max-width: 600px){
    .cart{
        width: 95%;
    }
    .cart-item{
        font-size: 5vw;
    }
    .total {
        font-size: 6vw;
    }
    .purchase{
        font-size: 5vw;
    }
}