<button type="submit" class="cart" (click)="openCart()">🛒</button>
<main class="container" [ngClass]="{'hidden': isHidden, 'show': !isHidden}">
    <section class="items">
        <h5>Twój koszyk</h5>
        <div class="cart-item" *ngFor="let item of items">
            <span>{{ item.ordered }} x {{ item.name }} </span>
            <span>{{ item.price * currentCurrency.converter }} {{ currentCurrency.symbol }}</span>
        </div>  
    </section>
    <footer>
        <div class="total">Total: {{ sum(items) }}{{currentCurrency.symbol}}</div>
        <button class="purchase" type="submit">Purchase</button>
    </footer>
</main>