<div class="addDish" (click)="addDishToggle()">Dodaj pozycje</div>
<div class="container" [ngClass]="{'hidden': isHidden, 'show': !isHidden}">
<form [formGroup]="addDishForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Nazwa</label>
        <input type="text" class="form-control" formControlName="name">
        <div *ngIf="addDishForm.controls['name'].hasError('required')" class="alert alert-danger">
            Wprowadź nazwę pozycji
        </div>
        <div *ngIf="addDishForm.controls['name'].hasError('minlength')" class="alert alert-danger">
            Nazwa powinna zawierać co najmniej 2 znaki
        </div>
        <div *ngIf="addDishForm.controls['name'].hasError('maxlength')" class="alert alert-danger">
            Nazwa nie może przekraczać 15 znaków
        </div>
    </div>
    <div class="form-group">
        <label for="">Typ kuchni</label>
        <input type="text" class="form-control" formControlName="cuisine">
        <div *ngIf="addDishForm.controls['cuisine'].hasError('required')" class="alert alert-danger">
            Wprowadź typ kuchni
        </div>
        <div *ngIf="addDishForm.controls['cuisine'].hasError('minlength')" class="alert alert-danger">
            Typ kuchni powinien zawierać co najmniej 2 znaki
        </div>
        <div *ngIf="addDishForm.controls['cuisine'].hasError('maxlength')" class="alert alert-danger">
            Typ kuchni nie może przekraczać 20 znaków
        </div>
    </div>
    <div class="form-group">
        <label for="">Typ dania</label>
        <input type="text" class="form-control" formControlName="type">
        <div *ngIf="addDishForm.controls['type'].hasError('required')" class="alert alert-danger">
            Wprowadź typ dania
        </div>
        <div *ngIf="addDishForm.controls['type'].hasError('minlength')" class="alert alert-danger">
            Typ dania powinien zawierać co najmniej 2 znaki
        </div>
        <div *ngIf="addDishForm.controls['type'].hasError('maxlength')" class="alert alert-danger">
            Typ dania nie może przekraczać 15 znaków
        </div>
    </div>
    <div class="form-group">
        <label for="">Kategoria</label>
        <input type="text" class="form-control" formControlName="time">
        <div *ngIf="addDishForm.controls['time'].hasError('required')" class="alert alert-danger">
            Wprowadź kategorię
        </div>
        <div *ngIf="addDishForm.controls['time'].hasError('minlength')" class="alert alert-danger">
            Kategoria powinien zawierać co najmniej 2 znaki
        </div>
        <div *ngIf="addDishForm.controls['time'].hasError('maxlength')" class="alert alert-danger">
            Kategoria nie może przekraczać 15 znaków
        </div>
    </div>
    <div class="form-group">
        <label for="">Składniki</label>
        <input type="text" class="form-control" formControlName="ingredients">
        <div *ngIf="addDishForm.controls['ingredients'].hasError('required')" class="alert alert-danger">
            Wprowadź składniki
        </div>
    </div>
    <div class="form-group">
        <label for="">Ilość w magazynie</label>
        <input type="number" class="form-control" formControlName="amount">
        <div *ngIf="addDishForm.controls['amount'].hasError('required')" class="alert alert-danger">
            Wprowadź ilość
        </div>
    </div>
    <div class="form-group">
        <label for="">Cena</label>
        <input type="number" class="form-control" formControlName="price">
        <div *ngIf="addDishForm.controls['price'].hasError('required')" class="alert alert-danger">
            Wprowadź cenę
        </div>
    </div>
    <div class="form-group">
        <label for="">Opis</label>
        <input type="textarea" class="form-control" formControlName="description">
    </div>
    <div class="form-group">
        <label for="">Zdjęcia</label>
        <input type="text" class="form-control" formControlName="pictures">
        <div *ngIf="addDishForm.controls['pictures'].hasError('required')" class="alert alert-danger">
            Wprowadź nazwy zdjęć
        </div>
        <div *ngIf="addDishForm.controls['pictures'].hasError('pattern')" class="alert alert-danger">
            Wprowadź odpowiedni format pliku
        </div>
    </div>
    <div class="form-group">
        <label for="">Link do zdjęć</label>
        <input type="text" class="form-control" formControlName="link">
    </div>
    <button type="submit" [disabled]="!addDishForm.valid" class="add">Dodaj</button>
</form>
</div>