* {
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
}
.form-container{
    margin-top: 5rem;
    width: 50%;
    height: 600px;
    padding: 2rem;
    background-color: white;
    overflow: auto;
    box-shadow: 1px 0 10px lightgrey;
    z-index: 1;
}
.form-group{
    display: block;
    margin: 1rem 0 1rem 0;
}

form {
    position: relative;   
}

input.ng-invalid {
    border-left: solid red 5px
}

input.ng-valid{
    border-left: solid green 5px;
}
.alert-danger{
    padding: 5px;
}
.add{
    position: absolute;
    bottom: -2rem;
    right: 1rem;
}
.hidden{
    display: none;
}
.show{ 
    display: flex;
} 

@media (max-width: 768px) {
    .container{
        justify-content: center;
    }
    .form-container{
        width: 80%
    }
}