.form-container{
    border-top: lightgrey 1px solid;
    padding: 2rem;
}

textarea {
    width: 100%;
    resize: none;
    height: 100px;
    padding: 5px 5px 5px 12px;
}
.form-group{
    display: block;
    margin: 1rem 0 1rem 0;
}

input.ng-invalid, textarea.ng-invalid {
    border-left: solid red 5px
}

input.ng-valid, textarea.ng-valid{
    border-left: solid green 5px;
}
.alert-danger{
    padding: 5px;
}
.list{
    padding: 0;
}
.list-item{
    list-style-type: none;
    /* margin: 1rem; */
    padding: 1rem;
    border-bottom:rgb(196, 196, 196) solid 1px;
}
.add{
    border-style: none;
}
.add:hover{
    background-color: rgb(219, 219, 219);
}
.add:active{
    background-color: rgb(196, 196, 196);
}

.reviewhead{
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: flex-start;
}
.name{
    font-size: 1.5rem;
}
.date{
    position: absolute;
    right: 0;
    top: 0;
    color: grey;
    font-size: 1rem;
}
.title{
    font-size: 1rem;
}

.rating{
    width: 130px;
    height: 30px;
}
.content{
    font-size: 0.8rem;
    word-wrap: break-word;
}
@media (max-width: 768px){
   .name{
       font-size: 4vw;
   }
   .title{
       font-size: 3vw;
   }
   .date{
       font-size: 2vw;
   }
   .content{
       font-size: 2.5vw;
   }
}
@media (max-width: 600px){
    .name {
        font-size: 5vw;
    }
    .title{
        font-size: 4vw;
    }
    .date {
        font-size: 3vw;
    }
    .content{
        font-size: 3.5vw;
    }
}
@media (max-width: 400px){
    input[type="date"]{
        width: 50vw;
    }
}