<main>
    <div class="contactcard">
        <div class="contact">
            <h4>Kontakt</h4>
            <div class="address">
                
                <p>
                    <span class="icon-map"></span>
                    ul. Hufcowa 9<br>
                    30-394 Kraków
                </p>
            </div>
            <div class="phone"><span class="icon-phone"></span>+48 12 410 45 70</div>
            <div class="mail"><span class="icon-mail"></span>mojarestauracja@restauracja.com</div>
        </div>
        <div class="find">
            <h4>Gdzie nas znaleźć?</h4>
            <div class="map">
                
            </div>
        </div>
    </div>
    <div class="title">
        <span ><h1 class="name"><i>Illiada</i></h1></span>
        <span ><h2 class="subname"><i>Lorem ipsum dolor sit amet consectetur </i></h2></span>
    </div>
    <footer>
        <div class="street">
            <span class="icon-map"></span>
            ul. Hufcowa 9
        </div>
        <div class="postal">30-394 Kraków</div>
        <div class="phone"><span class="icon-phone"></span>+48 12 410 45 70</div>
        <div class="mail"><span class="icon-mail"></span>mojarestauracja@restauracja.com</div>
    </footer>
</main>