<header>
    <app-filter (cuisineChange)="changeCuisine($event)" 
                (typeChange)="changeType($event)"
                (timeChange)="changeTime($event)"
                (ratingChange)="changeRating($event)"
                (filterReset)="changeFiltering()">
    </app-filter>
    <app-counter></app-counter>
</header>
<div class="pagination"><app-pagination></app-pagination></div>
<div class="container"> 
    <div class="card" *ngFor="let dish of (dishes | filterdishes:selectedCuisine:selectedType:selectedTime:selectedRating).slice(0 + (pageNum-1)*elementsOnPage,elementsOnPage + (pageNum-1)*elementsOnPage)"
    [ngClass]="{
            'shortage': (dish.amount - dish.ordered) <= 3, 
            'max': dish.id == maxPriceDish.id, 'min': dish.id == minPriceDish.id, 
            'nomore': (dish.amount - dish.ordered) == 0
        }">
        <app-remove [currentDish]="dish"
        (itemRemoved)=(onItemRemoved($event)) >
    </app-remove>
        <div class="dishImage">
            <a [routerLink]="['/dish', dish.id]" (click)="setCurrentDish(dish)"><img src="assets/img/{{dish.pictures.split(',')[0]}}" alt="Image" [ngClass]="{'stock-out': (dish.amount - dish.ordered) == 0}"></a>
        </div>
        <div class="content">
            <header class="dishHeader">
            <h3>{{dish.name | uppercase}}</h3>
            <div class="price">{{dish.price * currency.converter}}{{currency.symbol}}</div>
            <div class="left">Pozostało: {{dish.amount-dish.ordered}}</div>
            <app-items [currentDish]="dish" [(menuItems)]="menuItems" class="toCartItems"></app-items>
            </header>
        </div>
    </div>
</div>