.container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 1rem;
}
.pagination{
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    max-width: 400px;
    min-width: 300px;
    min-height: 350px;
    box-shadow: 0 2px 10px rgb(111, 111, 111);
    border-radius: 5px;
    margin-bottom: 50px;
}
.min{
    box-shadow: 0 2px 25px rgb(255, 59, 59);
}
.max{
    box-shadow: 0 2px 25px rgb(53, 255, 144);
}
.shortage{
    outline: solid 5px rgb(255, 145, 0); 
}
.nomore{
    outline: solid 5px red;
}
.content {
    padding: 20px;
}
.header {
    position: relative;
}
.toCartItems{
    position: absolute;
    top: 0;
    right: 0;
}
.dishImage{
    width: 100%;
    height: 300px;
    background-position: top;
    background-size: cover;
    background-image: url("./outofstock.jpg");
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
}
.stock-out{
    mix-blend-mode: darken;
}
.lowOrders{
    background-color: rgb(255, 204, 109);
}
.highOrders{
    background-color: rgb(151, 214, 253);
}
.subheader{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 2rem;
    padding: 2rem 0;
    border-bottom: solid 2px lightgrey;
}
.counter {
    display: block;
    text-align: center;
    width: fit-content;
    padding: 0 3rem;
    font-size: 2rem;
    box-shadow: inset grey 0 2px 5px;
    justify-self: center;
    margin: auto;
}
.dishHeader{
    position: relative;
}

h3 {
    margin-bottom: 0;
    color: #545353;
    font-size: 1.3rem;
}
h4 {
    margin-top: 5px;
    color: #737373;
    margin-bottom: 0;
    font-size: 1rem;
}
h5 {
    color: #8e8e8e;
    margin-top: 5px;
    font-size: 0.9rem;
}
.details{
    padding-top: 1rem;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    height: 11rem;
}
aside{
    display: block;
    align-self: flex-start;
    background-color: rgb(255, 236, 236);
    padding: 5px;
    width: 7rem;
    text-align: center;
    height: fit-content;
}

.ingredients{
    align-self: flex-start;
    padding: 5px;
    margin: 0;
}
.ingredients li{
    font-size: 12px;
    list-style-type: none;
    margin-left: 10px;
}
.description {
    align-self: flex-end;
    color: grey;
    font-size: 13px;
    padding: 15px 0;    
    margin: 0;
    width: 100%;
}
.flex-footer {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: lightgrey 1px solid;
    padding-top: 6px;
}

.left, .price{
    display:block;
}

@media (max-width: 1000px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
    }
}