<header class="counter">
    <app-counter></app-counter>
</header>
<app-filter (cuisineChange)="changeCuisine($event)" 
            (typeChange)="changeType($event)"
            (timeChange)="changeTime($event)"
            (ratingChange)="changeRating($event)"
            (filterReset)="changeFiltering()">
</app-filter>
<div class="pagination"><app-pagination></app-pagination></div>
<div class="container"> 
    <div class="card" *ngFor="let dish of (dishes | filterdishes:selectedCuisine:selectedType:selectedTime:selectedRating).slice(0 + (pageNum-1)*elementsOnPage,elementsOnPage + (pageNum-1)*elementsOnPage)"
    [ngClass]="{
        'shortage': (dish.amount - dish.ordered) <= 3, 
        'nomore': (dish.amount - dish.ordered) == 0,
        'max': dish.key == maxPriceDish.key, 'min': dish.key == minPriceDish.key }">
        
        <div class="dishImage">
            <a [routerLink]="['/dish', dish.name]" (click)="setCurrentDish(dish)"><img src="assets/img/{{dish.pictures.split(',')[0]}}" alt="Image" [ngClass]="{'stock-out': (dish.amount - dish.ordered) == 0}"></a>
        </div>
        <div class="content">
            <header class="dishHeader">
            <h3>{{dish.name | uppercase}}</h3>
            <div class="price">{{dish.price * currency.converter}}{{currency.symbol}}</div>
            <div class="left">Pozostało: {{dish.amount-dish.ordered}}</div>
            <app-items [currentDish]="dish" class="toCartItems"></app-items>
            <!-- [(menuItems)]="menuItems" -->
        </header>
        </div>
    </div>
</div>